/* GLOBALS */
* {
    transition-duration: 300ms;
}

:root {
    --mt-size: 65px;
    --mr-size: 35px;
    --ml-size: 35px;
    --mb-size: 65px;

    --silver: #c2b8b2;
    --cinereous: #8a716a;
    --darkCinereous: #4a3d39;
    --lightBlue: #137bbd;
    --darkBlue: #125e8a;
    --green: #204b57

}

@font-face {
    font-family: Open-sans;
    src: url("fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Open-sans, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none
}


/* MICRO FRAMEWORK SETUP */
.container {
    max-width: 1080px;
    padding: 0 15px 0 15px;
    margin: auto;
}

.jumbotron {
    padding-top: 15px;
    padding-bottom: 25px;
    background-color: #dddddd;
}

.d-flex {
    display: flex;
    flex-wrap: wrap
}

.d-block {
    display: block;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right
}

.text-left {
    text-align: left
}

/* grid system */
.row {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.col-1 {
    grid-column: span 1;
}

.col-2 {
    grid-column: span 2;
}

.col-3 {
    grid-column: span 3;
}

.pxy {
    padding: 15px;
}

/* margins */
.mt {
    margin-top: var(--mt-size)
}

.mr {
    margin-right: var(--mr-size)
}

.mb {
    margin-bottom: var(--mb-size)
}

.ml {
    margin-left: var(--ml-size)
}

.h2-heading {
    color: var(--darkBlue);
    font-size: 1.8rem;
}

.h3-heading {
    color: var(--lightBlue);
    font-size: 1.6rem;
}

h3 {
    margin: 0;
}

/* OTHER */
/* GLOBALS START */
img {
    width: 100%;
    height: auto;
    display: block;
}

img:hover {
    transform: scale(1.04);
}

a {
    color: inherit;
}

a:hover {
    color: var(--cinereous);
}

li a {
    text-decoration: none;
    color: inherit;
}

.btn {
    background-color: var(--silver);
    border: 1px solid var(--cinereous);
    border-radius: 5px;
    padding: 10px 15px;
    color: var(--darkCinereous);
    cursor: grab;
    font-weight: 600;
}

.btn:hover {
    color: white;
    background-color: var(--cinereous);
}

/* END GLOBALS / START LOCALS */
/* to top button */
#to-top {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    border: 1px solid var(--lightBlue);
    padding: 2px 15px 9px 15px;
    color: var(--lightBlue);
    position: fixed;
    bottom: 10px;
    right: 15px;
    font-size: 24px;
    transition-duration: 500ms;
}

#to-top:hover {
    background-color: var(--lightBlue);
    color: white;
}

.to-top-visible {
    visibility: visible !important;
    opacity: 1 !important;
}

/* NAVBAR */
#menu li, footer li {
    display: inline;
    margin: 0 12px;
}

#menu.open {
    display: block;
}

#header_nav {
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    overflow: hidden;
    margin-bottom: 60px;
    transition: 650ms;
}

.sticky {
    top: 0;
    width: 100%;
    z-index: 1050;
    background-color: rgba(18, 94, 138, 0.9) !important;
    transition: 650ms;
}

#hamburger {
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 2000;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

#hamburger .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
}

.js-text {
    font-size: 2.5em;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 8em;
    padding-bottom: 0;
    height: 7em;
    width: 100%;
    background-position: center bottom;
    background-size: cover;
    background-image: url("images/bg.jpg");
}

/* co umim section */
#co-umim {
    font-size: 2rem;
    font-weight: bold;
    color: var(--darkBlue);
}

/* experience section */
#experience {
    color: var(--cinereous);
}

#programmer-img {
    border-radius: 50%;
}

dt {
    color: var(--green);
    font-weight: bold;
}

dt::after {
    content: ':';
}

/* technologies section */
#technologies {
    justify-content: space-between;
    align-items: baseline;
}

#technologies a {
    color: var(--cinereous);
}

#technologies a:hover {
    color: var(--green);
}

#technologies figcaption {
    margin-top: 10px;
}

#technologies img {
    width: 84px;
}

/* pricing section */
.pricing-item {
    margin: 25px;
    background-color: white;
}

.pricing-item > h3 {
    background-color: var(--lightBlue);
    padding: 15px 0;
    color: white;
}

.price {
    color: var(--darkCinereous);
    font-weight: bold;
    font-size: 2em;
    padding-top: 15px;
}

.price::after {
    content: ' Kč';
}

.pricing-item ul {
    list-style: none;
}

.pricing-item li::before {
    content: "✔ ";
    color: var(--lightBlue);
}

.btn-pricing {
    border-radius: 0;
    border: none;
    background-color: var(--lightBlue);
    color: white;
    margin: 15px auto 20px auto;
}

.btn-pricing:hover {
    background-color: var(--darkBlue);
}

/* footer start */
form label {
    color: var(--darkBlue);
}

form input, form textarea {
    border: 1px solid var(--silver);
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 8px;
    margin-bottom: 8px;
    color: var(--darkBlue);
}

form input:focus, form textarea:focus {
    outline: 2px solid var(--silver);
}

form button {
    margin-top: 12px;
}

#map {
    height: 350px;
    overflow: hidden;
}

#map > iframe {
    width: 100%;
    height: 300px;
}

#map h3 {
    color: var(--cinereous);
}

footer li {
    color: var(--darkCinereous);
    font-weight: bold;
}

#footer-start h2 {
    font-size: 1.7rem;
}

/* Mobile support */
@media only screen and (max-width: 600px) {
    #hamburger {
        display: flex;
    }

    #nav_logo {
        padding: 15px 0;
    }

    #menu {
        display: none;
        padding: 0;
    }

    #header_nav {
        display: block;
        text-align: center;
    }

    #menu li {
        display: block;
        list-style: none;
        margin-top: 5px;
    }

    form > div {
        justify-content: space-around;
    }

    .col-1 {
        grid-column: span 3 !important;
    }

    .col-2 {
        grid-column: span 3 !important;
    }
}